@import url('https://fonts.cdnfonts.com/css/glacial-indifference');

$glacial: 'Glacial Indifference', sans-serif;
$cor-primaria: #5F26AA;
$cor-secundaria: #421878;
$cor-terciaria: #2B124C;
$branco: #F5FFFE;
$dark: #190019;